<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Portfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />



    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.1.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>


    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

</head>

<body>
<div class="container">

    <div th:if="${portfolio?.user} ?: false" class="form-horizontal container-fluid">
        <p></p>
        <div class="form-group row">
            <div class="col-xs-12 col-md-8">
                <img th:src="${portfolio.image}" src="${portfolio.image}" about="Image Portfolio">
            </div>
            <div class="col-xs-6 col-md-4">
                <br/>
                <br/>
                <div class="col-xs-12 col-md-8">
                    <th><strong><span th:text="${portfolio.title}"/></strong></th>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="col-xs-12 col-md-8">

                    <table class="table table-striped">
                        <tr>
                            <th><span class="small">My Work Experience</span> </th>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <span th:text="${portfolio.description}"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>

        </div>
        <div class="form-group row">
            <div class="col-xs-6 col-md-4">
                <div id="item" th:if="${not #lists.isEmpty(tweets)}">
                    <h2 th:text="${portfolio.user}+ '\'s Timeline'"></h2>
                    <table class="table table-striped">

                        <tr th:each="twit : ${tweets}">
                            <td><img th:src="${twit.profileImageURL}" src="${twit.profileImageURL}" about="twit.screenName"></td>
                            <td>
                                <p>
                                    <span th:text="${twit.name}"></span>
                                    <br/>
                                    <span th:text="${twit.text}"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div th:if="${portfolio?.user} == null or ${portfolio?.user} == ''">
        <span>No existe un registro.</span>

    </div>

</div>

</body>

</html>